################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OOP/.vs/OOP/v16
/OOP/OOP.Classes/obj
/OOP/OOP.Automobile/bin/Debug/netcoreapp3.1
/OOP/OOP.Automobile/obj
/OOP/OOP.Classes/bin/Debug/netcoreapp3.1
