################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OOP/.vs/OOP/v16
/OOP/OOP.Classes/obj
/OOP/OOP.Automobile/bin/Debug/netcoreapp3.1
/OOP/OOP.Automobile/obj
/OOP/OOP.Classes/bin/Debug/netcoreapp3.1
/OOP/OOP.Terminal/bin/Debug/netcoreapp3.1
/OOP/OOP.Terminal/obj
/OOP/.vs/OOP/DesignTimeBuild
/OOP/OOP.HR/obj
/OOP/OOP.HR/bin/Debug/netcoreapp3.1
/OOP/OOP.Development/obj
/OOP/OOP.Development/bin/Debug/netcoreapp3.1
/OOP/OOP.Sample/obj
/OOP/OOP.Sample/bin/Debug/netcoreapp3.1
