################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OOP/.vs/OOP/v16
/OOP/OOP.Classes/obj
